body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

h2 {
  font-weight: 600;
}

.card-title {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: white !important;
  margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}